@font-face {
    font-family: Geist;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/8a480f0b521d4e75-s.8e0177b5.woff2)format("woff2");
    unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
    font-family: Geist;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/7178b3e590c64307-s.b97b3418.woff2)format("woff2");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Geist;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/caa3a2e1cccd8315-s.p.853070df.woff2)format("woff2");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Geist Fallback;
    src: local(Arial);
    ascent-override: 95.94%;
    descent-override: 28.16%;
    line-gap-override: 0.0%;
    size-adjust: 104.76%
}

.geist_a71539c9-module__T19VSG__className {
    font-family: Geist, Geist Fallback;
    font-style: normal
}

.geist_a71539c9-module__T19VSG__variable {
    --font-geist-sans: "Geist", "Geist Fallback"
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/4fa387ec64143e14-s.c1fdd6c2.woff2)format("woff2");
    unicode-range: U+301, U+400-45F, U+490-491, U+4B0-4B1, U+2116
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/bbc41e54d2fcbd21-s.799d8ef8.woff2)format("woff2");
    unicode-range: U+100-2BA, U+2BD-2C5, U+2C7-2CC, U+2CE-2D7, U+2DD-2FF, U+304, U+308, U+329, U+1D00-1DBF, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20C0, U+2113, U+2C60-2C7F, U+A720-A7FF
}

@font-face {
    font-family: Geist Mono;
    font-style: normal;
    font-weight: 100 900;
    font-display: swap;
    src: url(../media/797e433ab948586e-s.p.dbea232f.woff2)format("woff2");
    unicode-range: U+??, U+131, U+152-153, U+2BB-2BC, U+2C6, U+2DA, U+2DC, U+304, U+308, U+329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD
}

@font-face {
    font-family: Geist Mono Fallback;
    src: local(Arial);
    ascent-override: 74.67%;
    descent-override: 21.92%;
    line-gap-override: 0.0%;
    size-adjust: 134.59%
}

.geist_mono_8d43a2aa-module__8Li5zG__className {
    font-family: Geist Mono, Geist Mono Fallback;
    font-style: normal
}

.geist_mono_8d43a2aa-module__8Li5zG__variable {
    --font-geist-mono: "Geist Mono", "Geist Mono Fallback"
}

@layer properties {
    @supports (((-webkit-hyphens: none)) and (not (margin-trim:inline))) or ((-moz-orient:inline) and (not (color:rgb(from red r g b)))) {
        *, :before, :after, ::backdrop {
            --tw-border-style:solid;
            --tw-font-weight: initial
        }
    }
}

@layer theme {
    :root,
    :host {
        --color-blue-400: #54a2ff;
        --color-blue-500: #3080ff;
        --color-blue-600: #155dfc;
        --color-zinc-50: #fafafa;
        --color-zinc-100: #f4f4f5;
        --color-zinc-200: #e4e4e7;
        --color-zinc-400: #9f9fa9;
        --color-zinc-600: #52525c;
        --color-zinc-800: #27272a;
        --color-zinc-900: #18181b;
        --color-black: #000;
        --spacing: .25rem;
        --text-sm: .875rem;
        --text-sm--line-height: calc(1.25/.875);
        --text-base: 1rem;
        --text-base--line-height: calc(1.5/1);
        --font-weight-medium: 500;
        --radius-md: .375rem;
        --default-transition-duration: .15s;
        --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
        --default-font-family: var(--font-geist-sans);
        --default-mono-font-family: var(--font-geist-mono)
    }
    @supports (color:lab(0% 0 0)) {
        :root,
        :host {
            --color-blue-400: lab(65.0361% -1.42065 -56.9802);
            --color-blue-500: lab(54.1736% 13.3369 -74.6839);
            --color-blue-600: lab(44.0605% 29.0279 -86.0352);
            --color-zinc-50: lab(98.26% 0 0);
            --color-zinc-100: lab(96.1634% .0993311 -.364041);
            --color-zinc-200: lab(90.6853% .399232 -1.45452);
            --color-zinc-400: lab(65.6464% 1.53497 -5.42429);
            --color-zinc-600: lab(35.1166% 1.78212 -6.1173);
            --color-zinc-800: lab(15.7305% .613764 -2.16959);
            --color-zinc-900: lab(8.30603% .618205 -2.16572)
        }
    }
}

@layer base {
    *,
    :after,
    :before,
    ::backdrop {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    ::file-selector-button {
        box-sizing: border-box;
        border: 0 solid;
        margin: 0;
        padding: 0
    }
    html,
    :host {
        -webkit-text-size-adjust: 100%;
        tab-size: 4;
        line-height: 1.5;
        font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
        font-feature-settings: var(--default-font-feature-settings, normal);
        font-variation-settings: var(--default-font-variation-settings, normal);
        -webkit-tap-highlight-color: transparent
    }
    hr {
        height: 0;
        color: inherit;
        border-top-width: 1px
    }
    abbr:where([title]) {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted
    }
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: inherit;
        font-weight: inherit
    }
    a {
        color: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        -webkit-text-decoration: inherit;
        text-decoration: inherit
    }
    b,
    strong {
        font-weight: bolder
    }
    code,
    kbd,
    samp,
    pre {
        font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
        font-feature-settings: var(--default-mono-font-feature-settings, normal);
        font-variation-settings: var(--default-mono-font-variation-settings, normal);
        font-size: 1em
    }
    small {
        font-size: 80%
    }
    sub,
    sup {
        vertical-align: baseline;
        font-size: 75%;
        line-height: 0;
        position: relative
    }
    sub {
        bottom: -.25em
    }
    sup {
        top: -.5em
    }
    table {
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse
    }
    :-moz-focusring {
        outline: auto
    }
    progress {
        vertical-align: baseline
    }
    summary {
        display: list-item
    }
    ol,
    ul,
    menu {
        list-style: none
    }
    img,
    svg,
    video,
    canvas,
    audio,
    iframe,
    embed,
    object {
        vertical-align: middle;
        display: block
    }
    img,
    video {
        max-width: 100%;
        height: auto
    }
    button,
    input,
    select,
    optgroup,
    textarea {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0
    }
    ::file-selector-button {
        font: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        letter-spacing: inherit;
        color: inherit;
        opacity: 1;
        background-color: #0000;
        border-radius: 0
    }
    :where(select:is([multiple], [size])) optgroup {
        font-weight: bolder
    }
    :where(select:is([multiple], [size])) optgroup option {
        padding-inline-start: 20px
    }
    ::file-selector-button {
        margin-inline-end: 4px
    }
    ::placeholder {
        opacity: 1
    }
    @supports (not ((-webkit-appearance:-apple-pay-button))) or (contain-intrinsic-size:1px) {
        ::placeholder {
            color: currentColor
        }
        @supports (color:color-mix(in lab, red, red)) {
            ::placeholder {
                color: color-mix(in oklab, currentcolor 50%, transparent)
            }
        }
    }
    textarea {
        resize: vertical
    }
    ::-webkit-search-decoration {
        -webkit-appearance: none
    }
    ::-webkit-date-and-time-value {
        min-height: 1lh;
        text-align: inherit
    }
    ::-webkit-datetime-edit {
        display: inline-flex
    }
    ::-webkit-datetime-edit-fields-wrapper {
        padding: 0
    }
    ::-webkit-datetime-edit {
        padding-block: 0
    }
    ::-webkit-datetime-edit-year-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-month-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-day-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-hour-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-minute-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-second-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-millisecond-field {
        padding-block: 0
    }
    ::-webkit-datetime-edit-meridiem-field {
        padding-block: 0
    }
    ::-webkit-calendar-picker-indicator {
        line-height: 1
    }
    :-moz-ui-invalid {
        box-shadow: none
    }
    button,
    input:where([type=button], [type=reset], [type=submit]) {
        appearance: button
    }
    ::file-selector-button {
        appearance: button
    }
    ::-webkit-inner-spin-button {
        height: auto
    }
    ::-webkit-outer-spin-button {
        height: auto
    }
    [hidden]:where(:not([hidden=until-found])) {
        display: none !important
    }
}

@layer components;
@layer utilities {
    .relative {
        position: relative
    }
    .flex {
        display: flex
    }
    .hidden {
        display: none
    }
    .inline-flex {
        display: inline-flex
    }
    .min-h-screen {
        min-height: 100vh
    }
    .w-full {
        width: 100%
    }
    .w-max {
        width: max-content
    }
    .min-w-\[120px\] {
        min-width: 120px
    }
    .flex-1 {
        flex: 1
    }
    .shrink {
        flex-shrink: 1
    }
    .flex-col {
        flex-direction: column
    }
    .flex-nowrap {
        flex-wrap: nowrap
    }
    .items-center {
        align-items: center
    }
    .gap-3 {
        gap: calc(var(--spacing)*3)
    }
    .overflow-x-auto {
        overflow-x: auto
    }
    .rounded-t-md {
        border-top-left-radius: var(--radius-md);
        border-top-right-radius: var(--radius-md)
    }
    .border-0 {
        border-style: var(--tw-border-style);
        border-width: 0
    }
    .border-b {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 1px
    }
    .border-b-2 {
        border-bottom-style: var(--tw-border-style);
        border-bottom-width: 2px
    }
    .border-blue-500 {
        border-color: var(--color-blue-500)
    }
    .border-zinc-200 {
        border-color: var(--color-zinc-200)
    }
    .bg-zinc-50 {
        background-color: var(--color-zinc-50)
    }
    .px-3 {
        padding-inline: calc(var(--spacing)*3)
    }
    .px-5 {
        padding-inline: calc(var(--spacing)*5)
    }
    .py-2 {
        padding-block: calc(var(--spacing)*2)
    }
    .py-3 {
        padding-block: calc(var(--spacing)*3)
    }
    .font-sans {
        font-family: var(--font-geist-sans)
    }
    .text-sm {
        font-size: var(--text-sm);
        line-height: var(--tw-leading, var(--text-sm--line-height))
    }
    .font-medium {
        --tw-font-weight: var(--font-weight-medium);
        font-weight: var(--font-weight-medium)
    }
    .whitespace-nowrap {
        white-space: nowrap
    }
    .text-blue-600 {
        color: var(--color-blue-600)
    }
    .text-zinc-600 {
        color: var(--color-zinc-600)
    }
    .antialiased {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale
    }
    .transition-all {
        transition-property: all;
        transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
        transition-duration: var(--tw-duration, var(--default-transition-duration))
    }
    @media (hover:hover) {
        .hover\:text-zinc-900:hover {
            color: var(--color-zinc-900)
        }
    }
    @media (min-width:40rem) {
        .sm\:text-base {
            font-size: var(--text-base);
            line-height: var(--tw-leading, var(--text-base--line-height))
        }
    }
    @media (prefers-color-scheme:dark) {
        .dark\:border-zinc-800 {
            border-color: var(--color-zinc-800)
        }
        .dark\:bg-black {
            background-color: var(--color-black)
        }
        .dark\:text-blue-400 {
            color: var(--color-blue-400)
        }
        .dark\:text-zinc-400 {
            color: var(--color-zinc-400)
        }
        @media (hover:hover) {
            .dark\:hover\:text-zinc-100:hover {
                color: var(--color-zinc-100)
            }
        }
    }
}

:root {
    --background: #fff;
    --foreground: #171717
}

@media (prefers-color-scheme:dark) {
    :root {
        --background: #0a0a0a;
        --foreground: #ededed
    }
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif
}

@property --tw-border-style {
    syntax: "*";
    inherits: false;
    initial-value: solid
}

@property --tw-font-weight {
    syntax: "*";
    inherits: false
}